<p style="color: green"><%= notice %></p>

<% content_for :title, "Products" %>

<h1><%= t ".title" %></h1>

<div id="products">
  <% @products.each do |product| %>
    <div>
      <%= link_to product.name, product %>
    </div>
  <% end %>
</div>

<%= link_to "New product", new_product_path if authenticated? %>
